<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-secondary bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">Agenda de Contatos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-
      toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="!auth" class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/acessar-conta']">Acessar Conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/criar-conta']">Crie sua Conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/esqueci-minha-senha']">Esqueci minha senha</a>
        </li>
      </ul>
    </div>
    <div *ngIf="auth" class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/cadastrar-contatos']">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/consultar-contatos']">Consultar</a>
        </li> 
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-light" href="#">{{auth.nome}} | {{auth.email}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-sm text-light" (click)="logOut()">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
