<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header bg-dark text-light text-center">
          <h5>Autenticação de Usuário</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="inputEmail" class="form-label"> E-mail:</label>

              <input type="email" class="form-control" id="inputEmail" />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Senha:</label>
              <input type="password" class="form-control" id="inputPassword" />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
          </form>
          <hr />
          <div class="text-center">
            <a class="text-dark" href="#">Criar conta do usuário</a> |
            <a class="text-dark" href="#">Esqueci minha senha</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
