<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header bg-dark text-light text-center">
          <h5>Esqueci minha senha</h5>
        </div>
        <div class="card-body">
          <p class="text-center">
            Informe seu email recuperação de senha.
          </p>
          <form>
            <div class="mb-2">
              <label for="inputEmail" class="form- label">Email de acesso:</label>
              <input type="email" class="form-control mb-3" id="inputEmail" />
            </div>
            <div class="d-grid mb-2">
              <button type="submit" class="btn btn-primary btn-sm">
                Recuperar Senha
              </button>
            </div>
          </form>
          <div class="d-grid">
            <a class="btn btn-light btn-sm" [routerLink]="['/acessar-conta']">
              Voltar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
